{{#if data.attributes.classDC.rank}}
    <div class="sidebar_title">
        <h2>{{{localize "PF2E.ClassDCHeader"}}}</h2>
        <h2 class="hover" data-tooltip-content=".{{uid}}-dc-modifiers"><i class="fas fa-eye"></i> {{localize "PF2E.ModifiersTitle"}}</h2>
    </div>
    <div class="roll-data difficulty-checks">
        <h3>{{numberFormat data.attributes.classDC.value decimals=0 sign=false}}</h3>
        <div class="classdc-rank" value="{{data.attributes.classDC.rank}}">
            <h4 class="proficiency-rank" data-property="data.attributes.classDC.rank" value="{{data.attributes.classDC.rank}}">
                <span>{{data.attributes.classDC.rankName}}</span>
            </h4>
        </div>
    </div>
    <div class="hover-content {{uid}}-dc-modifiers">
        <div class="sidebar_title">
            <h2>Class DC</h2>
        </div>
        <ul>
            {{#each data.attributes.classDC.modifiers as |modifier|}}
                <li class="item{{#unless modifier.enabled}} no-effect{{/unless}}">
                    <span class="tag">{{modifier.type}}</span>
                    <span class="label">{{localize modifier.name}}</span>
                    <span class="data">{{numberFormat modifier.modifier decimals=0 sign=true}}</span>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}
