<div class="form-group">
    <label>{{localize "PF2E.ActionActionTypeLabel"}}</label>
    <select name="data.actionType.value" data-dtype="String">
        {{#select data.actionType.value}}
            {{#each actionTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ActionActionsLabel"}}</label>
    <select name="data.actions.value" data-dtype="Number">
        {{#select data.actions.value}}
            <option value=""></option>
            {{#each actionsNumber as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ActionCategoryLabel"}}</label>
    <select name="data.actionCategory.value" data-dtype="String">
        {{#select data.actionCategory.value}}
            <option value=""></option>
            {{#each categories as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group-stacked">
    <label>
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="featTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list pf-value pf-large">
        {{#each traits as |trait|}}
            {{#if trait.selected}}
                <li class="tag-legacy" data-trait="{{trait.value}}">{{localize trait.label}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>
